<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flex Container</title>
    <link rel="stylesheet" href="../public/css/form.css">
</head>
<body>
    <div class="d-flex flex-row flex-wrap">
        <div style="border: 1px solid red; height: 200px; width: 200px; min-width: 200px;">

        </div>
        <div style="border: 1px solid red; height: 200px; width: 200px; min-width: 200px;">
    
        </div>
        <div style="border: 1px solid red; height: 200px; width: 200px; min-width: 200px;">
    
        </div>
        <div style="border: 1px solid red; height: 200px; width: 200px; min-width: 200px;">
    
        </div>
        <div style="border: 1px solid red; height: 200px; width: 200px; min-width: 200px;">
    
        </div>
    </div>
</body>
</html>